@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    text-align: justify;
    color:black;
    
}
body{
    background-image: linear-gradient(to right,#012E40 45%,#026773);
}
main{
    background-color: white;
    width: 750px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #3CA6A6;
}
h1{
    text-align: center;
    text-shadow: 2px 2px 2px black;
    color:#024959;
    
}
h2{
    color:#3CA6A6;
    text-align: center;
    
}
