body{
    background-color: #FF81BA;
    text-align: center;
    image-orientation: from-image;

}
h1{
    color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p{
    color:aliceblue
}

